<nav class="container" x-data="{ open: false }">
	<ul>
		<li><a href="/"><img src="/images/logo.svg" alt="logo" /></a></li>
	</ul>

	<ul class="nav-links">
		<li><a class="nav-link-item" href="/">Home</a></li>
		<li><a class="nav-link-item" href="/">New</a></li>
		<li><a class="nav-link-item" href="/">Popular</a></li>
		<li><a class="nav-link-item" href="/">Trending</a></li>
		<li><a class="nav-link-item" href="/">Categories</a></li>
	</ul>

	<div class="nav-mobile">
		<div
			class="nav-hamburger"
			:class="open ? 'active' : ''"
			@click="open = !open">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="nav-mobile-links" x-cloak x-show="open" x-transition>
			<div class="nav-mobile-links">
				<ul class="nav-links--mobile">
					<li><a class="nav-link-item" href="/">Home</a></li>
					<li><a class="nav-link-item" href="/">New</a></li>
					<li><a class="nav-link-item" href="/">Popular</a></li>
					<li><a class="nav-link-item" href="/">Trending</a></li>
					<li><a class="nav-link-item" href="/">Categories</a></li>
				</ul>
			</div>
		</div>
	</div>

	<style>
		nav {
			padding-bottom: 1.5rem;
		}
		.nav-links {
			display: block;
			gap: 1.5rem;
			font-size: 15px;
		}
		.nav-mobile {
			display: none;
		}
		.nav-link-item {
			color: var(--Dark-grayish-blue);
		}
		.nav-link-item:hover {
			color: var(--Soft-red);
			text-decoration: none;
		}

		@media screen and (max-width: 768px) {
			.nav-links {
				display: none;
			}
			.nav-mobile {
				display: flex;
				position: relative;
				align-items: center;
			}
			.nav-hamburger {
				cursor: pointer;
				position: relative;
				z-index: 10;
			}
			.nav-hamburger span {
				display: block;
				width: 24px;
				height: 2px;
				background-color: var(--Dark-grayish-blue);
				margin-bottom: 6px;
				transform: rotate(0);
				transition: transform 0.2s ease-out;
			}
			.nav-hamburger span:last-child {
				margin-bottom: 0;
			}
			.nav-hamburger:hover span {
				background-color: var(--Soft-red);
				transition: background-color 0.25s ease;
			}
			.nav-hamburger.active span:nth-child(1) {
				transform-origin: 0% 0%;
				transform: rotate(45deg);
				transition: transform 0.25s ease-in;
			}
			.nav-hamburger.active span:nth-child(2) {
				opacity: 0;
			}
			.nav-hamburger.active span:nth-child(3) {
				transform-origin: 0% 100%;
				transform: rotate(-45deg);
				transition: transform 0.25s ease-in;
			}
			.nav-hamburger.active {
				position: fixed;
				right: 16px;
			}
			.nav-mobile-links {
				position: fixed;
				top: 0;
				right: 0;
				width: 300px;
				height: 100vh;
				background-color: var(--Off-white);
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
			.nav-links--mobile {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin-left: 2rem;
			}
			.nav-link-item {
				color: var(--Very-dark-blue);
			}
		}
	</style>
</nav>
